.resume-container {
    padding: 20px;
    height: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-card-container {
    padding: 20px;
    margin-bottom: 20px;
}

.resume-image-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.resume-image-button-container a:hover {
    background-color: #10326e;
    border-radius: 5px;
}

.resume-image-container {
    width: 155px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #bababa;
}

.resume-image-container img {
    width: 100%;
}

.resume-button-container {
    width: 155px;
    height: 30px;
    font-size: 11px;
    color: #fff;
}

.resume-courses-container {
    padding: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.resume-courses-container h1 {
    font-size: 17px;
    color: #A0A0A0;
    margin-bottom: 2px;
}

.resume-courses-grid-container {
    width: 100%;
    margin: 0;
}

.skills-container {
    width: 100%;
    padding: 25px;
    padding-bottom: 10px;
}

.skills-container h1 {
    font-size: 17px;
    color: #A0A0A0;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .resume-container {
        padding: 30px 50px;
    }

    .resume-infos-container {
        width: 100%;
    }

    .resume-card-container {
        padding: 30px;
    }

    .resume-image-button-container {
        padding: 20px;
    }

    .resume-image-container {
        width: 180px;
        height: 175px;
    }

    .resume-button-container {
        width: 180px;
        height: 40px;
        font-size: 15px;
    }

    .resume-courses-container {
        font-size: 18px;
        padding: 40px 40px 10px 40px;
    }

    .resume-courses-container h1 {
        font-size: 25px;
    }

    .skills-container {
        padding: 40px 40px 20px 40px;
    }

    .skills-container h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .resume-container {
        padding: 40px 70px;
    }

    .resume-infos-container {
        max-width: 700px;
    }

    .resume-card-container {
        margin-bottom: 40px;
    }

    .resume-courses-container {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .resume-container {
        padding: 50px 70px;
    }

    .resume-card-container {
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: center;
    }

    .resume-infos-container {
        max-width: 100%;
    }

    .resume-image-button-container {
        justify-content: center;
    }

    .resume-image-container {
        height: 200px;
        margin-bottom: 30px;
    }

    .resume-courses-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resume-courses-container h1 {
        width: 100%;
        max-width: 810px;
    }

    .resume-courses-grid-container {
        max-width: 810px;
    }

    .skills-container {
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .resume-container {
        padding: 50px 120px;
    }

    .resume-card-container {
        padding: 30px 50px;
    }

    .resume-infos-container {
        max-width: 1150px;
    }

    .resume-courses-container {
        padding: 40px 60px 40px 60px;
    }

    .resume-courses-container h1 {
        width: 100%;
        max-width: none;
        margin-bottom: 15px;
    }

    .resume-courses-grid-container {
        max-width: none;
        border-top: 2px dashed #424242;
    }

    .skills-container {
        padding: 30px 60px;
    }
}