.resume-info-container {
    padding: 10px;
    border: 1px solid white;
}

.resume-info-container h2 {
    font-size: 19px;
    border-bottom: 2px solid #A0A0A0;
}

.resume-personal-info-container {
    border: 1px solid purple;
}

.resume-info-content {
    border: 1px solid green;
}

.resume-info-content h3 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.resume-info-content h4 {
    margin-bottom: 4px;
    font-size: 12px;
    color: #A0A0A0;
}

.resume-info-content span {
    font-weight: normal;
    color: white;
}
