.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 70px);
    padding: 20px 20px 5px 20px;
}

.projects-itens-container {
    max-width: 436px;
}

@media (min-width: 576px) {
    .projects-container {
        padding: 30px 17px 5px 17px;
    }

    .projects-itens-container {
        max-width: none;
        width: 100%;
    }

    .projects-item-container {
        padding-bottom: 25px;
    }
}

@media (min-width: 768px) {
    .projects-container {
        padding: 40px 25px 0 25px;
    }

    .projects-itens-container {
        justify-content: space-evenly;
    }

    .projects-item-container {
        max-width: 400px;
        padding: 0 15px 30px 15px;
    }
}

@media (min-width: 992px) {
    .projects-container {
        padding: 40px 60px 10px 60px;
    }

    .projects-item-container {
        max-width: none;
        padding: 0 0 30px 0;
    }
}

@media (min-width: 1200px) {
    .projects-itens-container {
        max-width: 1150px;
    }
}