.logo-java {
  height: 55px;
}

.logo-spring-boot {
  height: 40px;
}

.logo-oauth2 {
  width: 60px;
}

.logo-jpa-hibernate {
  height: 55px;
}

.logo-maven {
  height: 28px;
}

.logo-jwt {
  height: 35px;
}

.logo-junit5 {
  height: 32px;
}

.logo-mockito {
  height: 45px;
}

.logo-html {
  height: 60px;
}

.logo-css {
    height: 60px;
}

.logo-js {
    height: 60px;
}

.logo-react {
    height: 60px;
}

.logo-react-hook {
    height: 60px;
}

.logo-react-hook-form {
    height: 60px;
}

.logo-react-router {
    height: 40px;
}

.logo-axios {
  height: 22px;
}

.logo-bootstrap {
    height: 25px;
}

.logo-nodejs {
  height: 27px;
}

.logo-typescript {
  height: 25px;
}

.logo-apex-charts {
    height: 27px;
}
  
.logo-netlify {
    height: 25px;
}

.logo-jest {
    height: 30px;
}

@media (min-width: 768px) {
  .logo-java {
    height: 60px;
  }

  .logo-spring-boot {
    height: 50px;
  }

  .logo-maven {
    height: 30px;
  }

  .logo-jwt {
    height: 40px;
  }

  .logo-oauth2 {
    width: 70px;
  }

  .logo-jpa-hibernate {
    height: 60px;
  }

  .logo-junit5 {
    height: 35px;
  }

  .logo-mockito {
    height: 50px;
  }

  .logo-html {
    height: 80px;
  }
  
  .logo-css {
      height: 80px;
  }
  
  .logo-js {
      height: 80px;
  }
  
  .logo-react {
      height: 80px;
  }
  
  .logo-react-hook {
      height: 80px;
  }
  
  .logo-react-hook-form {
      height: 80px;
  }
  
  .logo-react-router {
      height: 50px;
  }
  
  .logo-axios {
    height: 27px;
  }
  
  .logo-bootstrap {
      height: 30px;
  }
  
  .logo-nodejs {
    height: 30px;
  }
  
  .logo-typescript {
    height: 30px;
  }
  
  .logo-apex-charts {
      height: 35px;
  }
    
  .logo-netlify {
      height: 30px;
  }
  
  .logo-jest {
      height: 35px;
  }
}

@media (min-width: 992px) {
  .logo-java {
    height: 80px;
  }

  .logo-spring-boot {
    height: 65px;
  }

  .logo-maven {
    height: 40px;
  }

  .logo-jwt {
    height: 40px;
  }

  .logo-oauth2 {
    width: 80px;
  }

  .logo-jpa-hibernate {
    height: 70px;
  }

  .logo-junit5 {
    height: 45px;
  }

  .logo-mockito {
    height: 60px;
  }
}
