.resume-courses-content {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
    border: 1px solid purple;
}

.button-container {
    padding: 0 45px;
    border: 1px solid peru;
}

.resume-course-button-container {
    width: 100%;
    height: 30px;
    font-size: 11px;
    background-color: #2D569D;
}