.skills-ides-logos-container {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C7C6C6;
    border: 1px solid orange;
    margin-bottom: 20px;
}

.skills-ides-logos-container img {
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid blue;
}

.skills-ides-logos-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-visual-studio-code {
    display: none;
}

@media (min-width: 576px) {
    .skills-ides-logos-container {
        justify-content: space-evenly;
    }

    .skills-ides-logos-content-1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 1px solid red;
    }
}

@media (min-width: 768px) {
    .skills-ides-logos-container {
        padding: 20px 5px;
    }

    .skills-ides-logos-container img {
        margin: 0;
    }

    .logo-visual-studio-code {
        display: unset;
    }

    .skills-ides-visual-studio {
        display: none;
    }
}

@media (min-width: 992px) {
    .skills-ides-logos-container {
        padding: 30px 5px;
        margin-bottom: 30px;
    }

    .skills-ides-logos-container img {
        height: 50px;
    }
}
