.skills-ides-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-ides-container h2 {
    width: 100%;
    padding: 7px 10px;
    background-color: #494949;
    color: #fff;
    font-size: 15px;
}

.skills-ides-logos-container {
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: #C7C6C6;
    margin: 0;
    margin-bottom: 20px;
}

@media (min-width: 576px) {

    .skills-ides-container h2 {
        padding: 10px;
        font-size: 20px;
    }

    .skills-ides-logos-container {
        justify-content: space-evenly;
    }
}

@media (min-width: 992px) {
    .skills-ides-logos-container {
        padding: 20px 20px 5px 20px;
        margin-bottom: 30px;
    }

    .skills-ides-logos-container img {
        height: 45px;
    }
}
